[submodule "wfc_leveldb"]
	path = wfc_leveldb
	url = git@github.lan:cpp/wfc_leveldb.git
[submodule "faslib"]
	path = faslib
	url = https://github.com/migashko/faslib.git
[submodule "wfcroot"]
	path = wfcroot
	url = git@github.lan:cpp/wfcroot.git
